@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'MetaBoldCERegular';
    src: url('webfont-metaboldceroman.eot');
    src: url('webfont-metaboldceroman.eot?#iefix') format('embedded-opentype'),
         url('webfont-metaboldceroman.woff') format('woff'),
         url('webfont-metaboldceroman.ttf') format('truetype'),
         url('webfont-metaboldceroman.svg#MetaBoldCERegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MetaBookCERegular';
    src: url('webfont-metabookceroman.eot');
    src: url('webfont-metabookceroman.eot?#iefix') format('embedded-opentype'),
         url('webfont-metabookceroman.woff') format('woff'),
         url('webfont-metabookceroman.ttf') format('truetype'),
         url('webfont-metabookceroman.svg#MetaBookCERegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
	background:#eaeaea;
	margin: 0px;
	padding: 0px;
	font-family:MetaBookCERegular, Arial, Helvetica, sans-serif;
	color: #323232;
	font-size:14px;
	font-weight:normal;
}
#site_holder{
	position:relative;
	min-height: 900px;
	min-width: 1019px;
	overflow: hidden;
}
a,
a:link,
a:visited{
	text-decoration:none;
	color: #21adb1;
}
p{
	margin: 2px 0px 16px 0px;
}
#main a:hover{
	text-decoration:underline;
}
a img{
	border:none;
}
.meta{
	color: #9b9b9b;
	font-size:11px !important;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px !important;
	margin:0px !important;
}




#header_bkg {
	background-image: url(bkg/ban_bkg.jpg);
	background-repeat: no-repeat;
	background-position: right;
	height: 49px;
	width: 200%;
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #F8FDFE;
	z-index: -5;
}
#header_bkg_2 {
	background-color: #016ba7;
	height: 125px;
	width: 9999px;
	position: absolute;
	top: 0px;
	left: 30px;
	z-index: -3;
}
#header_bkg_3 {
	background-color: white;
	height: 125px;
	width: 50%;
	position: absolute;
	top: 49px;
	left: 0px;
	z-index: -4;
}

h1,
h1 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color: #f8613b !important;
	margin-top: 0px;
	font-weight:normal;
}
h2,
h2 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color: #f8613b !important;
	margin-top: 0px;
	font-weight:normal;
}
h3,
h3 a{
	font-family:Verdana, Geneva, sans-serif;
	font-size:21px;
	line-height:28px;
	color: #f8613b !important;
	font-weight:normal;
	padding:0px;
	margin:0px 0px 3px 0px;

}
.light_color{
	color: #464646;
}
.big_text{
	font-size:16px;
}
ul,
ol{
	margin:0px 0px 20px 0px;
	-moz-margin:0px;
	-webkit-margin:0px;
	padding-start:20px;
	-moz-padding-start:20px;
	-webkit-padding-start:20px;
	padding-end:20px;
	-moz-padding-end:20px;
	-webkit-padding-end:20px;
	padding: 0px 0px 0px 20px;
}

.PDF_icon{
	background: url(bkg/PDF_bkg.png) no-repeat left center;
	padding:3px 0px 5px 30px;
	display:inline-block;
	margin:3px 0px;
}

#main_bkg{
	background-image: url(bkg/main_bkg.jpg);
}
#main_shadow_l{
	background-image: url(bkg/main_shadow_l.png);
	background-repeat: no-repeat;
	background-position: left center;
	width:16px;
	color:transparent;
}
#main_shadow_r{
	background-image: url(bkg/main_shadow_r.png);
	background-repeat: no-repeat;
	background-position: right center;
	width:16px;
	color:transparent;
}
#main{
	background: #FFF url(bkg/sz_logo_shadow.png) no-repeat top left;
	height: auto;
	min-height:330px;
	width: 1009px;
	margin: 0px;
	padding-top:24px;
}

#main table{
	width:100%;
/*	font-family:Arial, Helvetica, sans-serif;*/
	font-size:13px;
	border:none;
}
#main table th{
	background:#dbe9dc;
	border-bottom: 1px solid #afafaf;
	text-align:left;
	padding:3px;
}
#main table td{
	border-bottom: 1px solid #afafaf;
	padding:3px;
}
#main table.img_holder_2cols{
	width:100%;
	border:none;
}
#main table.img_holder_2cols td{
	border:none;
	vertical-align:top;
}
#main table.img_holder_2cols img{
	margin:0px !important;
}
#main_inner_margin{
	margin:0px 15px 10px 15px;
}
#header_link_holder {
	position:relative;
	height: 49px;
	width:1041px;
	display:table-cell;
	vertical-align:bottom;
	text-align:right;
}
.margin_lr_30{
	margin-right: 30px;
	margin-left: 28px;
}
#header {
	clear:both;
	position:relative;
	height: 124px;

	width:1041px;
	vertical-align:bottom;
	text-align:right;

	/*border-top-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;*/
}
#center_header{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 1041px;
	position: relative;
}
#center_footer{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 1009px;
	position: relative;
}
#dopps_logo_holder {
	background-image: url(bkg/dopps_logo.png);
	background-repeat: no-repeat;
	height: 98px;
	width: 71px;
	position: absolute;
	left: -58px;
	top: 10px;
}
#language_sel {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	color:#747474;
	background-color: #fff;
	padding: 8px;
	border: 0px solid #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius:5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius:5px;
	position:absolute;
	top:0px;
	left:0px;
}
#language_sel a{
	color:#747474;
}
#language_sel a:hover{
	color:#242424;
}

#language_sel .active,
#language_sel a.active,
#language_sel .active a:link,
#language_sel .active a:visited{
	color: #006aa6;
	font-weight:bold;
}
#header_links{
	padding-bottom: 10px;
}
#header_links a,
#header_links a:link,
#header_links a:visited{
	padding-top:5px;
	font-family: MetaBoldCERegular;
	font-size: 18px;
	color: #929393;
	margin:0px 0px 0px 68px;
	text-transform:uppercase;
	font-weight: 500;
}
#header_links a:hover{
	color: #929393;
	border-top:2px solid #929393;
}
#header_links .current-menu-item  a:link,
#header_links .current-menu-item  a:visited,
#header_links .menu-item-320 a{
	/*color: #004612;
	border-top:2px solid #004612;*/
}
#header #site_logo_holder {
	margin-top: -1px;
	position: absolute;
}
#header #site_logo_holder a{
	display:block;
}
.remove_ul_styling ul,
.remove_ul_styling ul li{
	list-style:none;
	list-style-type:none;
	display:inline;
	padding:0px;
	margin:0px;
    margin:0px;
    -moz-margin:0px;
    -webkit-margin:0px;
    padding-start:0px;
    -moz-padding-start:0px;
	-moz-margin-before:0px;
	-moz-margin-after:0px;
    -webkit-padding-start:0px;
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
}

#header #header_menu,
#header #header_menu a,
#header #header_menu a:link,
#header #header_menu a:visited{
	color: #FFF;
	font-family: MetaBookCERegular;
	text-shadow: #0F0F0F 1px 1px 1px;
}
#header #header_menu a:hover{
	color:#a6a6a6;
}

#header #header_menu .level_1{
	font-size: 21px;
	margin: 0px 0px 0px 0px;
}
#header_menu .level_1 > div{
	padding-top:19px;
}
#header #header_menu .level_2{
	text-transform:uppercase;
	font-size: 12px;
	margin: 14px 0px 0px 0px;
}
#header #header_menu .level_2 a:hover{
	color:#a6a6a6;
}

#header #header_menu .level_2 a:hover{
	color:#a6a6a6;
}

#header #header_menu .current-menu-item a:link,
#header #header_menu .current-menu-item a:visited,
#header #header_menu .current-page-ancestor a{
	font:MetaBoldCERegular !important;
	font-weight:bold;
	color: #31A8F0 !important;
}

#header_search{
	margin-top: 14px;
}
#header_search input,
#header_search button{
	display:inline;
	background-color: #015788;
}
#header_search input{
	width:150px;
	height:21px;
	font-size:12px;
	background-repeat:no-repeat;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	border: none;
	padding-left:5px;
	line-height:23px;
}
#header_search input::-webkit-input-placeholder,
#header_search input:-moz-placeholder,
#header_search input::-moz-placeholder,
#header_search input:-ms-input-placeholder{
	color:white;
	opacity: 1;
}
#header_search input:focus,
#header_search input.not_empty{
	background-image:none !important;
}
#header_search button{
	cursor:pointer;
	border: 1px solid #fff;
	background-image:url(bkg/search_arrow_bkg.png);
	background-position:center;
	background-repeat:no-repeat;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	width:28px;
	height:24px;
	color: transparent;
}
#header_search button:hover{
	background:#fff;
}
.clear{
	clear:both;
	height:1px;
}
#footer_holder{
	background:url(bkg/footer_gradient.jpg) repeat-x;
	height:194px;
	width:100%;
}
#footer{
	background:#f5f5f5 url(bkg/main_shadow_b.png) no-repeat top;
	padding:23px 10px 18px 10px;
	border-top:1px solid #E9E9E9;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000;
}
#footer p{
	margin-top:0px;
}
#footer div{
	overflow:hidden;
}
#footer table tr td{
	padding:0px 5px 0px 5px;
	vertical-align:top;
}
#foot_1{
	width:501px;
	border-right: 1px solid #CBCBCB;
}
#foot_1 .img_holder{
		float:right;
		padding-right:30px;
}
#foot_2{
	width:200px;
	border-right: 1px solid #CBCBCB;
}
#foot_2 .img_holder{
	display:inline-block;
	margin-left: 11px;
	margin-right: 8px;
}
#foot_3{
	width:200px;
	border-right: 1px solid #CBCBCB;
}
#foot_3 p{
	padding:0px 5px 0px 5px;
}

#foot_4{
	width:100px;
	border-right: 1px solid #CBCBCB;
}
#foot_4 p{
	padding:0px 5px 0px 5px;
}
#foot_5 {
	width:163px;
}
#foot_5 p{
	padding:0px 5px 0px 5px;
}
/*fbicon*/
#fb_icon{
	display: block;
	width: 27px; height: 27px;
	padding:0px 5px 0px 5px;
}
/*luka-koper-logo*/
#luka-koper-logo {
	display: block;
	width: 140px;
	height: 50px;
	background-size: 130px;
	background-image: url(./images/luka-koper-logo.svg);
	background-repeat: no-repeat;
	margin-left: 5px;
}

/************ BKG SLIKE **************/
#bkg_ptica1{
	width:125px;
	height:124px;
	background:url(bkg/ptica1_bkg.png) no-repeat;
	position:absolute;
	top:30px;
	right:-140px;
}
#bkg_ptica2{
	width:155px;
	height:127px;
	background:url(bkg/ptica2_bkg.png) no-repeat;
	position:absolute;
	top:-49px;
	left:-180px;
}
#bkg_ptica3{
	width:100%;
	max-width:175px;
	height:352px;
	background:url(bkg/prica3_bkg.png) no-repeat;
	position:absolute;
	bottom:-70px;
}

#bkg_govedo1{
	background:url(bkg/govedo1_bkg.png) no-repeat top left;
	height:350px;
	width:100%;
	position:relative;
	top:-166px;
}
/********** END BKG SLIKE ************/


#main_right_col,
#main_left_col{
		margin-bottom: 0px;
}


#main_left_col #nav_pointer{
	border-bottom: 1px solid #ccc;
	display: block;
	font-size:9px;
	line-height:15px;
	margin:0px 0px 4px 0px;
}
#main_left_col #nav_pointer a{
	padding-bottom: 5px;
}
#main_left_col #nav_pointer a:hover{
	text-decoration:none;
}
#main_left_col #nav_pointer a.active{
	color: #111;
}

#main_left_col h1{
	color: #31A8F0;
	font-size:26px;
	margin: 15px 0px 19px 1px;
}
.meta-author,
.media-credit,
.media-credit a,
.media-credit a:hover{
	color:#666;
	text-align:left !important;
	padding: 5px 0px 5px 2px !important;
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	text-decoration:none !important;
}

.nav_pages{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.nav_pages a{
	margin:0px 3px 0px 3px;
}
.nav_pages .active{
	font-weight:bold;
	color:#797979;
}

.gray{
	color:#868686;
}
.italic{
	font-style:italic;
}

/************ FRONTPAGE **************/
#frontpage{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#323232;
	width: 980px;
}
#frontpage #main_left_col{
	width:485px;
	margin-right:12px;
	float:left;
}
#frontpage #main_right_col{
	width: 480px;
	float:right;
}
#frontpage .modul .title{
	color: #323232;
	font-size:12px;
	text-transform:uppercase;
}
#frontpage .modul .title .active{
	color: #004612;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
#frontpage .modul .content{
	color: #323232;
	font-size:14px;
}
#frontpage .modul .h2{
	color: #31A8F0;
	font-size:18px;
}

.bottom_border,
.media-credit{
	border-bottom: 1px solid #c7c7c7;
	padding-bottom: 7px;
	margin-bottom:11px;
	text-align:left;
}
.border_open_box{
	border: 1px solid #c7c7c7;
	border-top:none;
	padding:7px;
	margin-bottom:11px;
}
.border_box{
	border:1px solid #c7c7c7;

}

.plant_preview{
	border-spacing:13px;
}
.plant_preview td{
	border:1px solid #afafaf;
	vertical-align:top;
}
.plant_preview tr td div .media-credit a{
	font-size:0.9em;
}
.plant_preview tr td h3{
	color: #C7C7C7 !important;
}
.bird_preview{
	width:179px;
	height:185px;
	float:left;
	margin:0px 10px 10px 0px;
	padding-left:3px;
}
.plant_preview h2,
.bird_preview h2,
.plant_preview h2 a,
.bird_preview h2 a{
	text-transform:uppercase;
	color: #4b9150;
	margin: 6px 0px 0px 0px;
}
.plant_preview h2,
.plant_preview h3,
.bird_preview h2,
.bird_preview h3,
.plant_preview h2 a,
.plant_preview h3 a,
.bird_preview h2 a,
.bird_preview h3 a{
	font-size:14px;
	line-height:14px;
	font-weight:normal;
	padding:0px;
}
.plant_preview h3,
.bird_preview h3,
.plant_preview h3 a,
.bird_preview h3 a{
	font-style:italic;
	color:#838383;
	margin:4px 0px 11px 0px;
}
.plant_preview img,
.bird_preview img{
	width:167px;
	padding-bottom:1px;
}
.info_board{
	background: #efedee;
	padding:5px;
	margin-top:73px;
}
.info_board img{
	margin: 3px auto 10px auto;
}
.board-blue {
	background-color: rgba(1, 107, 167, 1);
	color: #fff;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
/********** FRONTPAGE slider ************/
.slider{
	width:100%;
	position: relative;
	margin-bottom:17px;
}
.slider_links_center{
	width:100%;
	position: absolute;
	bottom:10px;
}
.slider_links{
	height:18px;
	overflow:hidden;
	line-height:18px;
	text-align: center;
}
.slider_links a,
.slider_links a:link,
.slider_links a:visited{
	width: 18px;
	height: 18px;
	color:transparent;
	margin-right: 3px;
	display: inline-block;
	overflow:hidden;
	cursor:pointer;
	background: url(bkg/slider_bullet.png);
	opacity:1;
}
.slider_links a:hover{
	color:transparent;
	opacity:0.6;
}
.slider_links a.active{
	color:transparent;
	opacity:1;
	background: url(bkg/slider_bullet_active.png);
}

.slider .content_mask{
	width:100%;
	overflow:hidden;
	position:relative;
}
.slider .content{
	position:absolute;
	top:0px;
	left:0px;
}
.slider .content .content_page{
	float:left;
	display:block;
	position:relative;
}
.slider .content_page img{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%)
}
.slider .content .content_page .slider_image_title{
	position:absolute;
	bottom: 18px;
	left:0px;

	background: url(bkg/slider_title_bkg.png);

	padding: 8px 9px 11px 10px;
	width:auto;
	height:auto;
	z-index: 10;
}
.slider .content .content_page h2 a,
.slider .content .content_page h3 a,
.slider .content .content_page h2 a:hover,
.slider .content .content_page h3 a:hover{
	color: #4A9150;
	text-decoration:none;
}
.slider .content .content_page a.more_link{
	position:absolute;
	bottom:0px;
	right:0px;
	padding:2px;
	background:#fff;
}
.slider .content .content_page .meta{
	margin-bottom:15px !important;
}

.slider .content .content_page .slider_image_title a,
.slider .content .content_page .slider_image_title a:link,
.slider .content .content_page .slider_image_title a:visited,
.slider .content .content_page .slider_image_title h2,
.slider .content .content_page .slider_image_title h3{
	font-weight:normal;
	color:#fff !important;
	padding:0px;
	margin:0px 0px 2px 0px;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:11px;
}
.slider .content .content_page .slider_image_title h2{
	font-size:16px;
	line-height:16px;
	text-transform:uppercase;
}
.slider_image_title a:hover{
	text-decoration:none !important;
}


#frontpage_slider > div{
	width:980px;
	height:329px;
}
#frontpage_video_slider > div{
	height: 360px;
	width: 485px;
}

#frontpage_news_slider > div{
	height: 140px;
	width: 464px;
}

/********** END FRONTPAGE slider *************/



/************ FRONTPAGE news switcher **************/

#switch_news_content > div{
	display:none;
}

#switch_news h2{
	margin:0px;
	padding:0px;
	line-height:18px;
}
#switch_news p{
	margin-bottom:10px;
	padding:0px;
	line-height:14px;
	font-size:14px;
}



#switch_news_navi div{
	background-image:url("bkg/novice_aktualno_bkg.jpg");
	background-repeat: no-repeat;
	background-position:top left;

	display:inline-block;
	width:146px;
	height:29px;

	text-transform:uppercase;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
}
#switch_news_navi {
    border-bottom: 1px solid #C7C7C7;
    height: 28px;
}
#switch_news_navi_a{
	width:147px !important;
}
#switch_news_navi div a,
#switch_news_navi div a:link,
#switch_news_navi div a:visited{
	color:#4c4c4c;
	font-size:12px;
	line-height:12px;
	display:block;

	margin-left:10px;
	padding-top: 11px;
}
#switch_news_navi div a:hover{
	text-decoration:none;
}
#switch_news_navi div:hover{
	background-position:center left;
}
#switch_news_navi div.active{
	background-position:bottom left;
}
#switch_news_navi div.active a{
	color:#004612;
	font-weight:bold;
}


/********** END FRONTPAGE news switcher ************/



#second_main_left_col {
	width: 100%;
}
#second_main_right_col {
	float: right;
}

/********** END FRONTPAGE ************/

#info_slider{
	height:100%;
	width: 214px;
	position:absolute;
	left:-198px;
	background:url(bkg/info_sidebar_bkg.jpg);
	overflow:visible;
	z-index:100;
}
.info_slider_active{
	background:url(bkg/info_sidebar_bkg_open.jpg) !important;
	left:0px !important;
}
.info_entry{
	width:	260px;
	height: 180px;
	overflow:visible;
}
#info_slider .info_entry{
	position:relative;
}
#info_slider .info_entry a{
	color: #fff;
	text-decoration:underline;

}
#info_slider .info_entry .info_entry_btn{
		background:url(bkg/info_sidebar_btn_bkg.png) no-repeat right top;
		width:71px;
		height:180px;
		position:absolute;
		right:0px;
		top:0px;
		cursor:pointer;
		text-transform:uppercase;
}
.info_entry_btn .rotated{
		text-align:right;

		overflow:hidden;
		width:140px;
		height:20px;
		font-family:'MetaBookCERegular';
		font-size:14px;
		line-height:14px;

		writing-mode: bt-rl;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		transform: rotate(270deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

		background: inherit;

		position:absolute;
		top:75px;
		right:-55px;
		margin:0px;
		padding:0px;
}
#info_slider .active .info_entry_btn{
		background:url(bkg/info_sidebar_btn_bkg_open.png) no-repeat right top!important;
}
.info_entry .info_entry_text{
	display:none;
	width:	178px;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	padding-left:20px;
	padding-top:14px;
}
#info_slider .active{
	z-index:1000;
}
#info_slider .active  .info_entry_text{
	display:block !important;
}
.info_entry .info_entry_text p{
	margin-top:0px;
	padding-top:0px;
}
.info_entry .info_entry_text .big_text{
	font-size:18px;
}


/*************** SIDEBARS ***************/
#sidebar_left{
	width:180px;
	float: left;
	margin-right:20px;
	font-size:14px;
}
#sidebar_left .menu{
	font-family:Arial, Helvetica, sans-serif;
	color:#323232;
}
#sidebar_left .menu > div{
	background: #e8e8e8;
	margin-bottom:5px;
}
#sidebar_left .menu div{
	padding: 0px 0px 0px 5px;
	font-size:0.9em;
}
#sidebar_left .menu >div div{
	padding-left:9px;
	/* display:none; */

	max-height: 0;
	transition: max-height 0.3s ease-out;
	overflow: hidden;
}
#sidebar_left .menu > div > div div{
	line-height: 0.8em;
	font-size:1em;
}
#sidebar_left .menu > div.active div{
	/* display:block !important; */

	background:#9B9B9B !important;
	max-height: 550px;
}
#sidebar_left .menu > div:hover,
#sidebar_left .menu > div:hover div{
	/* display:block !important; */
	background:#9B9B9B !important;

	max-height: 550px;
	transition: max-height 0.35s ease-in;
}
#sidebar_left .menu a:hover{
	color: #fff;
	text-decoration:none;
}
#sidebar_left .menu  a{
	color: #000;
	display:block;
	padding:0.3em 0.3em 0.3em 0;
}
#sidebar_left .menu > div > a{
	color:#323232;
}
#sidebar_left .menu .active{
	background: #9b9b9b !important;
}
#sidebar_left .menu .active > a,
#sidebar_left .menu a.active,
#sidebar_left .menu .active{
	color: #fff !important;
}



#sidebar_right{
	width:180px;
	float: right;
	margin-left:20px;
	font-size:14px;
}
#sidebar_right .menu{
	font-family:Arial, Helvetica, sans-serif;
	color:#2c2c2c;
}
#sidebar_right .menu > div{
	margin: 0px 0px 5px 0px;
	background-image: url(bkg/right_menu_bkg.jpg);
	background-position: top;
	background-repeat: no-repeat;
	height:25px;
}
#sidebar_right .menu div{
	padding: 0px 0px 0px 5px;
	font-size:0.9em;
}
#sidebar_right .menu >div div{
	padding-left:9px;
}
#sidebar_right .menu > div:hover,
#sidebar_right .menu a:hover{
	color: #666;
	text-decoration:none;
	background-position:bottom !important;
	color: #2c2c2c !important;
}
#sidebar_right .menu a{
	display:block;
	text-transform: capitalize;
	padding:0.3em;
	padding-top:6px;
}

/************* END SIDEBARS *************/

.media-credit-container{
	margin-bottom: 10px;
}
/************ 1 COL - 2 sidebars **************/
#col_1_sidebar_2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#323232;
}
#col_1_sidebar_2 #main_left_col{
	width:578px;
	float:left;
	position:relative;
	top:-15px;
}
#col_1_sidebar_2 .img_holder_2cols img,
#col_1_sidebar_2 .img_holder_2cols img.size-full,
#col_1_sidebar_2 .img_holder_2cols img.size-large{
	max-width:270px;
}

#col_1_sidebar_2 img.size-full,
#col_1_sidebar_2 img.size-large {
	max-width: 578px;
}
/********** END 1 COL - 2 sidebars ************/

/************ 1 COL - 1 sidebar **************/
#col_1_sidebar_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#323232;
}
#col_1_sidebar_1 #main_left_col{
	width:778px;
	float:left;
	position:relative;
	top:-15px;
}
#col_1_sidebar_1 .img_holder_2cols img,
#col_1_sidebar_1 .img_holder_2cols img.size-full,
#col_1_sidebar_1 .img_holder_2cols img.size-large{
	max-width:370px;
}
#col_1_sidebar_1 img.size-full,
#col_1_sidebar_1 img.size-large {
	max-width: 778px;
}
/********** END 1 COL - 1 sidebar ************/


/************ 2 COLs - 1 sidebar **************/
#col_2_sidebar_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#323232;
}
#col_2_sidebar_1 #main_left_col{
	width:385px;
	float:left;
	position:relative;
	top:-12px;
}
#col_2_sidebar_1 #main_right_col{
	width:385px;
	float:right;
	position:relative;
}
#col_2_sidebar_1 .img_holder_2cols img,
#col_2_sidebar_1 .img_holder_2cols img.size-full,
#col_2_sidebar_1 .img_holder_2cols img.size-large{
	max-width:180px;
}
#col_2_sidebar_1 img.size-full,
#col_2_sidebar_1 img.size-large {
	max-width: 385px;
}
/********** END 2 COLs - 1 sidebar ************/



/************ 2 COLs - 1 sidebar - e-razglednica **************/
#col_2_sidebar_1_newsletter{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#323232;
}
#col_2_sidebar_1_newsletter #main_left_col{
	width:300px;
	float:left;
	position:relative;
	top:-12px;
}
#col_2_sidebar_1_newsletter #newsletter_thumbnails {
	width:500px;
}
#col_2_sidebar_1_newsletter #main_right_col{
	width:470px;
	float:right;
	position:relative;
}
#col_2_sidebar_1_newsletter .img_holder_2cols img{
	max-width:180px;
}

#col_2_sidebar_1_newsletter .entry-meta{
	margin-top: 10px;
}

/********** END 2 COLs - 1 sidebar - e-razglednica ************/



/************** E-razglednice ****************/

#newsletter_thumbnails img{
	display:inline-block;
	cursor:pointer;
}
#newsletter_thumbnails img:hover{
	opacity:0.7;
}
#newsletter_preview input:hover,
#newsletter_preview input:focus,
#newsletter_preview textarea:hover,
#newsletter_preview textarea:focus{
	border:	1px solid #ccc;
}
#podpis {
	float:right;
}
#newsletter_preview input {
	font-family:Arial;
}
#newsletter_preview textarea {
	font-family:Arial;
}
/************ END E-razglednice **************/


/**********************************************/
/**********************************************/
/**********************************************/
/********** WORDPRESS STYLE (edited) **********/

/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/


:focus {/* remember to define focus styles! */
	outline: 0;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
#it_logo {
	width:auto;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* error404 */
.error404 #primary {
	float: none;
	margin: 0;
}
.error404 #primary #content {
	margin: 0 7.6%;
	width: auto;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.625em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.625em;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}
blockquote em, blockquote i, blockquote cite {
	font-style: normal;
}
blockquote cite {
	color: #666;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}
code, kbd {
	font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}
address {
	display: block;
	margin: 0 0 1.625em;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}


/* Assistive text */
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}



.hentry,
.no-results {
	position: relative;
}
.hentry:last-child,
.no-results {
	border-bottom: none;
}
.blog .sticky .entry-header .entry-meta {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.entry-meta {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 8px;
}
.entry-meta a {
	font-weight: bold;
}
.single-author .entry-meta .by-author {
	display: none;
}

.entry-content #s {
	width: 75%;
}

dl.gallery-item {
	margin: 0;
}
.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.625em;
}
.page-link a {
	background: #eee;
	color: #373737;
	margin: 0;
	padding: 2px 3px;
	text-decoration: none;
}
.page-link a:hover {
	background: #888;
	color: #fff;
	font-weight: bold;
}
.page-link span {
	margin-right: 6px;
}
.entry-meta .edit-link a,
.commentlist .edit-link a {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	font-weight: 300;
	text-decoration: none;
	padding: 0 8px;
}
.entry-meta .edit-link a:hover,
.commentlist .edit-link a:hover {
	background: #888;
	color: #fff;
}
.entry-content .edit-link {
	clear: both;
	display: block;
}
/* Images */
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 1.625em;
}
p img,
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
	background: #eee;
	margin-bottom: 1.625em;
	max-width: 96%;
	padding: 9px;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	color: #666;
	font-family: Georgia, serif;
	font-size: 12px;
}
.wp-caption .wp-caption-text {
	margin-bottom: 0.6em;
	padding: 10px 0 5px 40px;
	position: relative;
}
.wp-caption .wp-caption-text:before {
	color: #666;
	content: '\2014';
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	margin-right: 5px;
	position: absolute;
	left: 10px;
	top: 7px;
}
#content .gallery {
	margin: 0 auto 1.625em;
}
#content .gallery a img {
	border: none;
}
img#wpstats {
	display: block;
	margin: 0 auto 1.625em;
}
#content .gallery-columns-4 .gallery-item {
	width: 23%;
	padding-right: 2%;
}
#content .gallery-columns-4 .gallery-item img {
	width: 100%;
	height: auto;
}




/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* Password Protected Posts */
.post-password-required .entry-header .comments-link {
	margin: 1.625em 0 0;
}
.post-password-required input[type=password] {
	margin: 0.8125em 0;
}
.post-password-required input[type=password]:focus {
	background: #f7f7f7;
}

/* Author Info */
#author-info {
	font-size: 12px;
	overflow: hidden;
}
.singular #author-info {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 2.2em -35.6% 0 -35.4%;
	padding: 20px 35.4%;
}
.archive #author-info {
	border-bottom: 1px solid #ddd;
	margin: 0 0 2.2em;
	padding: 0 0 2.2em;
}
#author-avatar {
	float: left;
	margin-right: -78px;
}
#author-avatar img {
	background: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #bbb;
	-moz-box-shadow: 0 1px 2px #bbb;
	box-shadow: 0 1px 2px #bbb;
	padding: 3px;
}
#author-description {
	float: left;
	margin-left: 108px;
}
#author-description h2 {
	color: #000;
	font-size: 15px;
	font-weight: bold;
	margin: 5px 0 10px;
}

/* Comments link */
.entry-header .comments-link a {
	background: #eee url(images/comment-bubble.png) no-repeat;
	color: #666;
	font-size: 13px;
	font-weight: normal;
	line-height: 35px;
	overflow: hidden;
	padding: 0 0 0;
	position: absolute;
	top: 1.5em;
	right: 0;
	text-align: center;
	text-decoration: none;
	width: 43px;
	height: 36px;
}
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
	background-color: #1982d1;
	color: #fff;
	color: rgba(255,255,255,0.8);
}
.entry-header .comments-link .leave-reply {
	visibility: hidden;
}

/* =Aside
----------------------------------------------- */

.format-aside .entry-title,
.format-aside .entry-header .comments-link {
	display: none;
}
.singular .format-aside .entry-title {
	display: block;
}
.format-aside .entry-content {
	padding: 0;
}
.singular .format-aside .entry-content {
	padding: 1.625em 0 0;
}


/* =Link
----------------------------------------------- */

.format-link .entry-title,
.format-link .entry-header .comments-link {
	display: none;
}
.singular .format-link .entry-title {
	display: block;
}
.format-link .entry-content {
	padding: 0;
}
.singular .format-link .entry-content {
	padding: 1.625em 0 0;
}


/* =Gallery
----------------------------------------------- */

.format-gallery .gallery-thumb {
	float: left;
	display: block;
	margin: .375em 1.625em 0 0;
}


/* =Status
----------------------------------------------- */

.format-status .entry-title,
.format-status .entry-header .comments-link {
	display: none;
}
.singular .format-status .entry-title {
	display: block;
}
.format-status .entry-content {
	padding: 0;
}
.singular .format-status .entry-content {
	padding: 1.625em 0 0;
}
.format-status img.avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	float: left;
	margin: 4px 10px 2px 0;
	padding: 0;
}


/* =Quote
----------------------------------------------- */

.format-quote blockquote {
	color: #555;
	font-size: 17px;
	margin: 0;
}


/* =Image
----------------------------------------------- */

.indexed.format-image .entry-header {
	min-height: 61px; /* Prevent the comment icon from colliding with the image when there is no title */
}
.indexed.format-image .entry-content {
	padding-top: 0.5em;
}
.indexed.format-image p,
.indexed.format-image p img {
	margin-bottom: 0;
}
.indexed.format-image footer.entry-meta {
	background: #ddd;
	margin-top: -7px;
	padding: 20px 30px;
	overflow: hidden;
}
.indexed.format-image div.entry-meta {
	display: inline-block;
	float: left;
	width: 35%;
}
.indexed.format-image div.entry-meta + div.entry-meta {
	float: none;
	width: 65%;
}
.indexed.format-image .entry-meta span.cat-links,
.indexed.format-image .entry-meta span.tag-links,
.indexed.format-image .entry-meta span.comments-link {
	display: block;
}
.indexed.format-image footer.entry-meta a {
	color: #444;
}
.indexed.format-image footer.entry-meta a:hover {
	color: #fff;
}
#content .indexed.format-image img {
	border: none;
	max-width: 100%;
	padding: 0;
}
.indexed.format-image .wp-caption {
	background: #111;
	margin-bottom: 0;
	max-width: 96%;
	padding: 11px;
}
.indexed.format-image .wp-caption .wp-caption-text {
	color: #ddd;
}
.indexed.format-image .wp-caption .wp-caption-text:before {
	color: #444;
}
.indexed.format-image a:hover img {
	opacity: 0.8;
}


/* =error404
----------------------------------------------- */

.error404 #main #searchform {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 8.9%;
}
.error404 #main #s {
	width: 95%;
}
.error404 #main .widget {
	clear: none;
	float: left;
	margin-right: 3.7%;
	width: 30.85%;
}
.error404 #main .widget_archive {
	margin-right: 0;
}
.error404 #main .widget_tag_cloud {
	float: none;
	margin-right: 0;
	width: 100%;
}
.error404 .widgettitle {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
}




/* =Attachments
----------------------------------------------- */

.image-attachment div.attachment {
	background: #f9f9f9;
	border: 1px solid #ddd;
	border-width: 1px 0;
	margin: 0 -8.9% 1.625em;
	overflow: hidden;
	padding: 1.625em 1.625em 0;
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto 1.625em;
	max-width: 100%;
}
.image-attachment div.attachment a img {
	border-color: #f9f9f9;
}
.image-attachment div.attachment a:focus img,
.image-attachment div.attachment a:hover img,
.image-attachment div.attachment a:active img {
	border-color: #ddd;
	background: #fff;
}
.image-attachment .entry-caption p {
	font-size: 10px;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	margin: 0 0 2.6em;
	text-transform: uppercase;
}


/* =Navigation
-------------------------------------------------------------- */

#content nav {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.625em;
}
#content nav a {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.2em;
}
#nav-above {
	padding: 0 0 1.625em;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content nav .meta-nav {
	font-weight: normal;
}

/* Singular navigation */
#nav-single {
	position: relative;
	top: -0.3em;
	text-align: left;
	z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
	float: none;
	width: auto;
}
#nav-single .nav-next {
	padding-left: .5em;
}


/* =Widgets
----------------------------------------------- */

/* Search Widget */
.widget_search form {
	margin: 0 0 1.625em;
}
.widget_search #s {
	width: 77%;
}
.widget_search #searchsubmit {
	background: #ddd;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.09);
	color: #888;
	font-size: 13px;
	line-height: 25px;
	position: relative;
	top: -2px;
}
.widget_search #searchsubmit:active {
	background: #1982d1;
	border-color: #0861a5;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	color: #bfddf3;
}

/* Ephemera Widget */
section.ephemera ol,
.widget_twentyeleven_ephemera ol {
	list-style: square;
	margin: 5px 0 0;
}
.widget_twentyeleven_ephemera .widget-entry-title {
	font-size: 15px;
	font-weight: bold;
	padding: 0;
}
.widget_twentyeleven_ephemera .comments-link a,
.widget_twentyeleven_ephemera .comments-link > span {
	color: #666;
	display: block;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.76333em;
	text-transform: uppercase;
}
section.ephemera .entry-title .comments-link a:hover,
.widget_twentyeleven_ephemera .entry-title .comments-link a:hover {
}
section.ephemera .entry-title a span {
	color: #29628d;
}

/* Twitter */
.widget_twitter li {
	list-style-type: none;
	margin-bottom: 14px;
}
.widget_twitter .timesince {
	display: block;
	font-size: 11px;
	margin-right: -10px;
	text-align: right;
}

/* Widget Image */
.widget_image img {
	height: auto;
	max-width: 100%;
}

/* Calendar Widget */

.widget_calendar #wp-calendar {
	color: #555;
	width: 95%;
	text-align: center;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
	text-align: center;
}
.widget_calendar #wp-calendar caption {
	font-size: 11px;
	font-weight: 500;
	padding: 5px 0 3px 0;
	text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.widget_calendar #wp-calendar tfoot td {
	background: #f4f4f4;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


/* =Comments
----------------------------------------------- */

#comments-title {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
	padding: 0 0 2.6em;
	text-transform: uppercase;
}
.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em;
	padding: 1.625em;
	position: relative;
}
.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -102px;
	padding: 0;
	position: absolute;
	top: 0;
}
.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -21px;
	position: absolute;
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
	background: #ddd;
	border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	background: #ddd;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
	position: relative;
	width: 68.9%;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}
#respond input#submit {
	background: #222;
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	color: #eee;
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}




/* =Footer
----------------------------------------------- */

#colophon {
	clear: both;
}
#supplementary {
	border-top: 1px solid #ddd;
	padding: 1.625em 7.6%;
	overflow: hidden;
}

/* Two Footer Widget Areas */
#supplementary.two .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 48.1%;
}
#supplementary.two .widget-area + .widget-area {
	margin-right: 0;
}

/* Three Footer Widget Areas */
#supplementary.three .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 30.85%;
}
#supplementary.three .widget-area + .widget-area + .widget-area {
	margin-right: 0;
}

/* Site Generator Line */
#site-generator {
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
	padding: 2.2em 0.5em;
	text-align: center;
}
#site-generator a {
	color: #555;
	font-weight: bold;
}
#site-generator .sep {
	background: url(images/wordpress.png) center left no-repeat;
	color: transparent;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	margin: 0 7px;
	width: 16px;
}


/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 800px) {
	/* Simplify the basic layout */
	#main #content {
		/*margin: 0 7.6%;*/
		width: auto;
	}
	#nav-below {
		border-bottom: 1px solid #ddd;
		margin-bottom: 1.625em;
	}
	#main #secondary {
		float: none;
		margin: 0 7.6%;
		width: auto;
	}
	/* Simplify the showcase template */
	.page-template-showcase-php .featured-posts {
		min-height: 280px;
	}
	.featured-posts section.featured-post {
		height: auto;
	}
	.page-template-showcase-php section.recent-posts {
		float: none;
		margin: 0;
		width: 100%;
	}
	.page-template-showcase-php #main .widget-area {
		float: none;
		margin: 0;
		width: auto;
	}
	.page-template-showcase-php .other-recent-posts {
		border-bottom: 1px solid #ddd;
	}
	/* Simplify the showcase template when small feature */
	section.featured-post .attachment-small-feature,
	.one-column section.featured-post .attachment-small-feature {
		border: none;
		display: block;
		float: left;
		height: auto;
		margin: 0.625em auto 1.025em;
		max-width: 30%;
		position: static;
	}
	article.feature-image.small {
		float: right;
		margin: 0 0 1.625em;
		width: 64%;
	}
	.one-column article.feature-image.small .entry-summary {
		height: auto;
	}
	article.feature-image.small .entry-summary p a {
		left: 0;
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
	/* Remove the margin on singular articles */
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		width: 100%;
	}
	/* Simplify the pullquotes and pull styles */
	.singular blockquote.pull {
		margin: 0 0 1.625em;
	}
	.singular .pull.alignleft {
		margin: 0 1.625em 0 0;
	}
	.singular .pull.alignright {
		margin: 0 0 0 1.625em;
	}
	.singular .entry-meta .edit-link a {
		left: 0;
		position: absolute;
		top: 40px;
	}
	.singular #author-info {
		margin: 2.2em -8.8% 0;
		padding: 20px 8.8%;
	}
	/* Make sure we have room for our comment avatars */
	.commentlist {
		width: 100%;
	}
	.commentlist > li.comment,
	.commentlist .pingback {
		margin-left: 102px;
		width: auto;
	}
	/* And a full-width comment form */
	#respond {
		width: auto;
	}
	/* No need to float footer widgets at this size */
	#colophon #supplementary .widget-area {
		float: none;
		margin-right: 0;
		width: auto;
	}
	/* No need to float 404 widgets at this size */
	.error404 #main .widget {
		float: none;
		margin-right: 0;
		width: auto;
	}

}
@media (max-width: 650px) {
	/* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
	body, input, textarea {
		font-size: 13px;
	}
	#site-title a {
		font-size: 24px;
	}
	#site-description {
		font-size: 12px;
	}
	#access ul {
		font-size: 12px;
	}
	article.intro .entry-content {
		font-size: 12px;
	}
	.entry-title {
		font-size: 21px;
	}
	.featured-post .entry-title {
		font-size: 14px;
	}
	.singular .entry-title {
		font-size: 28px;
	}
	.entry-meta {
		font-size: 12px;
	}
	blockquote {
		margin: 0;
	}
	blockquote.pull {
		font-size: 17px;
	}
	/* Reposition the site title and description slightly */
	#site-title {
		padding: 5.30625em 0 0;
	}
	#site-title,
	#site-description {
		margin-right: 0;
	}
	/* Make sure the logo and search form don't collide */
	#branding #searchform {
		top: 1.625em !important;
	}
	/* Floated content doesn't work well at this size */
	.alignleft,
	.alignright {
		float: none;
		margin-left: 0;
		margin-right: 0;
	}
	/* Make sure the post-post navigation doesn't collide with anything */
	#nav-single {
		display: block;
		position: static;
	}
	.singular .hentry {
		/*padding: 1.625em 0 0;*/
	}
	.singular.page .hentry {
		/*padding: 1.625em 0 0;*/
	}
	/* Talking avatars take up too much room at this size */
	.commentlist > li.comment,
	.commentlist > li.pingback {
		margin-left: 0 !important;
	}
	.commentlist .avatar {
		background: transparent;
		display: block;
		padding: 0;
		position: static;
	}
	.commentlist .children .avatar {
		background: none;
		left: 2.2em;
		padding: 0;
		position: absolute;
		top: 2.2em;
	}
	/* Use the available space in the smaller comment form */
	#respond input[type="text"] {
		width: 95%;
	}
	#respond .comment-form-author .required,
	#respond .comment-form-email .required {
		left: 95%;
	}
	#content .gallery-columns-3 .gallery-item {
		width: 31%;
		padding-right: 2%;
	}
	#content .gallery-columns-3 .gallery-item img {
		width: 100%;
		height: auto;
	}

}
@media (max-width: 450px) {
	#content .gallery-columns-2 .gallery-item {
		width: 45%;
		padding-right: 4%;
	}
	#content .gallery-columns-2 .gallery-item img {
		width: 100%;
		height: auto;
	}

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	body {
		padding: 0;
	}
	#page {
		margin-top: 0;
	}
	#branding {
		border-top: none;
	}

}


/* =Print
----------------------------------------------- */

@media print {
	body {
		background: none !important;
		font-size: 10pt;
	}
	footer.entry-meta a[rel=bookmark]:link:after,
	footer.entry-meta a[rel=bookmark]:visited:after {
		content: " [" attr(href) "] "; /* Show URLs */
	}
	#page {
		clear: both !important;
		display: block !important;
		float: none !important;
		max-width: 100%;
		position: relative !important;
	}
	#branding {
		border-top: none !important;
		padding: 0;
	}
	#branding hgroup {
		margin: 0;
	}
	#site-title a {
		font-size: 21pt;
	}
	#site-description {
		font-size: 10pt;
	}
	#branding #searchform {
		display: none;
	}
	#branding img {
		display: none;
	}
	#access {
		display: none;
	}
	#main {
		border-top: none;
		box-shadow: none;
	}
	#primary {
		float: left;
		margin: 0;
		width: 100%;
	}
	#content {
		margin: 0;
		width: auto;
	}
	.singular #content {
		margin: 0;
		width: 100%;
	}
	.singular .entry-header .entry-meta {
		position: static;
	}
	.entry-meta .edit-link a {
		display: none;
	}
	#content nav {
		display: none;
	}
	.singular .entry-header,
	.singular .entry-content,
	.singular footer.entry-meta,
	.singular #comments-title {
		margin: 0;
		width: 100%;
	}
	.singular .hentry {
		padding: 0;
	}
	.entry-title,
	.singular .entry-title {
		font-size: 21pt;
	}
	.entry-meta {
		font-size: 10pt;
	}
	.entry-header .comments-link {
		display: none;
	}
	.page-link {
		display: none;
	}
	.singular #author-info {
		background: none;
		border-bottom: none;
		border-top: none;
		margin: 2.2em 0 0;
		padding: 0;
	}
	#respond {
		display: none;
	}
	.widget-area {
		display: none;
	}
	#colophon {
		display: none;
	}

	/* Comments */
	.commentlist > li.comment {
		background: none;
		border: 1px solid #ddd;
		-moz-border-radius: 3px 3px 3px 3px;
		border-radius: 3px 3px 3px 3px;
		margin: 0 auto 1.625em;
		padding: 1.625em;
		position: relative;
		width: auto;
	}
	.commentlist .avatar {
		height: 39px;
		left: 2.2em;
		top: 2.2em;
		width: 39px;
	}
	.commentlist li.comment .comment-meta {
		line-height: 1.625em;
		margin-left: 50px;
	}
	.commentlist li.comment .fn {
		display: block;
	}
	.commentlist li.comment .comment-content {
		margin: 1.625em 0 0;
	}
	.commentlist .comment-edit-link {
		display: none;
	}
	.commentlist > li::before,
	.commentlist > li.bypostauthor::before {
		content: '';
	}
	.commentlist .reply {
		display: none;
	}

	/* Post author highlighting */
	.commentlist > li.bypostauthor {
		color: #444;
	}
	.commentlist > li.bypostauthor .comment-meta {
		color: #666;
	}
	.commentlist > li.bypostauthor:before {
		content: none;
	}

	/* Post Author threaded comments */
	.commentlist .children > li.bypostauthor {
		background: #fff;
		border-color: #ddd;
	}
	.commentlist .children > li.bypostauthor > article,
	.commentlist .children > li.bypostauthor > article .comment-meta {
		color: #666;
	}

}


/* =IE7
----------------------------------------------- */

#ie7 article.intro {
	margin-left: -7.6%;
	margin-right: -7.6%;
	padding-left: -7.6%;
	padding-right: -7.6%;
	max-width: 1000px;
}
#ie7 section.featured-post {
	margin-left: -7.6%;
	margin-right: -7.6%;
	max-width: 850px;
}
#ie7 section.recent-posts {
	margin-right: 7.6%;
}


h1.entry-title{
	margin-top: 13px !important;
	margin-bottom:0px !important;
	padding-bottom:0px;
}
.entry-meta{
	margin-bottom:26px;
	margin-top: 5px;
}
.archive .entry-meta{
	margin-bottom:0px;
}

/* SEARCH
------------------------------------------------ */

#srchinput{
	width: 400px;
	heigth: 110px;
	margin-bottom: 55px;
}
#srchinput input{
	border: 1px solid #A8ADB0;
}

#srchnovice:active, #srchnovice:hover, #srchnovice:focus,
#srchptice:active, #srchptice:hover, #srchptice:focus,
#srchgalerija:active, #srchgalerija:hover, #srchgalerija:focus
#srchnovicene:active, #srchnovicene:hover, #srchnovicene:focus,
#srchpticene:active, #srchpticene:hover, #srchpticene:focus,
#srchgalerijane:active, #srchgalerijane:hover, #srchgalerijane:focus{
	background: none;
}
#srchptice{
	background: url('images/srchptica.png') no-repeat left;
}
#srchgalerija{
	background: url('images/srchgalerija.png') no-repeat left;
}
#srchnovice{
	background: url('images/srchnovica.png') no-repeat left;
}

#srchbutton{
	background: url('images/isci.png') no-repeat center;
	height: 25px;
	width: 91px;
	float: right;
	margin: 5px 5px 0 0;
	cursor: pointer;
}
#srchbutton:hover{
	background: url('images/isci.hover.png') no-repeat center;
}


/**********************************************/
/**********************************************/
/**********************************************/
/******** END WORDPRESS STYLE (edited) ********/
/**********************************************/
/**********************************************/
/**********************************************/
/**********************************************/




/**********************************************/
/*********** SIMARINE PLUGIN HACKS ************/
/**********************************************/

/*lightbox design hack*/
#cboxLoadedContent{
	overflow:hidden !important;
}

/**********************************************/
/********* END SIMARINE PLUGIN HACKS **********/
/**********************************************/

article p{
	line-height: 18px;
}
#frontpage_table{
	margin-bottom: 50px;
}
#frontpage_table td{
	border: none !important;
	padding:0px !important;
	vertical-align: top;
}
#frontpage_calendar_holder{
	width:288px;
	height:275px;
	margin-right:10px;
}

#frontpage_time_holder{
	width:353px;
	height:275px;
	margin-right:10px;
}
#frontpage_time_holder a{
	text-decoration: none;
}
#frontpage_time_holder a:hover{
	text-decoration: none;
	opacity:0.6;
}
#frontpage_time_holder #frontpage_odpiralni_cas_widget_area a{
	height: 147px;
}
#frontpage_time_holder p{
	font-size: 15px;
	padding-bottom: 8px;
	margin:0px;
}
#frontpage_time_holder h3{
	margin-top: -2px;
	margin-bottom: 14px;
}
#frontpage_time_holder h3,
#frontpage_time_holder .h3_title{
	font-size:29px;
	text-transform: uppercase;
}
#frontpage_time_holder .h3_title{
	padding:0px;
	margin:0px;
	line-height: 11px;
	color:#f8613b;
	display: block;
	width:100%;
	height:30px;
	padding-top: 22px;
	padding-bottom: 2px;
	padding-left: 68px;
	background: url(bkg/VodeniOgled.svg) no-repeat left center;
	background-size: contain;
}
#frontpage_time_holder .bold_title{
	font-weight: bold;
	padding-bottom: 3px;
}
#frontpage_time_holder .bold_title{
	color:#434343;
}
#frontpage_time_holder span{
	color:#434343;
}
#frontpage_time_holder .open_status{
	color: #0ed219;
	text-transform: uppercase;
	font-weight: bold;
}
#frontpage_time_holder .closed_status{
	color:#f8613b;
	text-transform: uppercase;
	font-weight: bold;
}
#frontpage_time_holder #napovednik_okvir{
	padding: 0;
	height: 273px;
	position: relative;
	top: -285px;
	right: 0px;
	background: #FFFFFF;
	display: none;
}
#frontpage_time_holder #napovednik_kontrola{
	padding: 0;
	height: 37px;
}
#frontpage_time_holder #napovednik_kontrola table td{
	border: none;
	background: #FFFFFF;
}
#frontpage_time_holder #napovednik_kontrola table td.napis{
	color: #838383;
	font-size: 13px;
	padding: 6px !important;
}
#frontpage_time_holder #napovednik_kontrola .napovednik_kontrola_zapri{
	float: right;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: #FFFFFF;
}
#frontpage_time_holder #napovednik_kontrola .napovednik_kontrola_zapri img{
	height: 16px;
	width: 16px;
	padding: 6px;
}
#frontpage_time_holder #napovednik_kontrola .napovednik_kontrola_zapri img:hover{
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
#frontpage_time_holder #napovednik_dogodki{
	padding: 0;
	height: 236px;
	overflow: auto;
}
#frontpage_time_holder #napovednik_dogodki ul{
	list-style: none;
	padding-left: 8px;
}
#frontpage_time_holder #napovednik_dogodki #datum_dogodka{
	font-size: 15px;
	font-weight: bold;
	text-align: left;
}
#frontpage_time_holder #napovednik_dogodki table{
	margin-left: -2px;
}
#frontpage_time_holder #napovednik_dogodki table th{
	background: #FFFFFF;
	border: none;
	vertical-align: top;
	text-align: left;
	padding: 0;
	padding-bottom: 3px;
}
#frontpage_time_holder #napovednik_dogodki table th#cas_dogodka{
	width: 39px;
}
#frontpage_time_holder #napovednik_dogodki table th#cas_dogodka span{
	font-size: 15px;
	font-weight: normal;
	color: #838383;
}
#frontpage_time_holder #napovednik_dogodki table th#naslov_dogodka span{
	font-size: 15px;
	font-weight: normal;
	line-height: 120%;
	color: #f8613b;
}
#frontpage_time_holder #napovednik_dogodki table td#vsebina_dogodka div{
	font-size: 15px;
	font-weight: normal;
	color: #525252;
}
#frontpage_time_holder #napovednik_dogodki table td#vsebina_dogodka p{
	line-height: 110%;
}

#frontpage_news_holder{
	width:321px;
	margin-right:0px;
	margin-top: -1px;
}
#frontpage_news_holder h2{
	margin-bottom:0px;
	line-height: 22px;
	margin-bottom:3px;
}
#frontpage_news_holder .meta{
	margin-bottom:18px !important;
}
#frontpage_news_holder .news_title{
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 10px;
}
.border_orange{
	display: block;
	border:1px solid #f8613b;
	padding:15px;
	margin-bottom: 10px;
}

/**********************************************/
/****** Simple Calander style overrides *******/
/**********************************************/

#frontpage_calander_widget_area .simcal-calendar-grid{
	border-spacing: 0px;
	-webkit-border-horizontal-spacing: 0px;
	-webkit-border-vertical-spacing: 0px;
}

#frontpage_calander_widget_area .simcal-nav{
	height: 39px;
	background: url(images/simple-calendar/calendar_header.png);
	background-size: 288px 44px;
}
#frontpage_calander_widget_area .simcal-nav.simcal-current h3{
	color: #ffffff !important;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
}
#frontpage_calander_widget_area .simcal-week-day{
	height: 17px;
	background: #ffffff;
	border-bottom: 1px solid #e2e2e2;
	text-transform: uppercase;
	text-align: center;
	color: #656565;
	font-size: 11px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
#frontpage_calander_widget_area .simcal-day>div{
	max-height: 40px;
	background: #ffffff url(images/simple-calendar/day_bg.png);
}
#frontpage_calander_widget_area .simcal-day-void{
	max-height: 40px;
	background: #ffffff;
}
#frontpage_calander_widget_area .simcal-day-label{
	color: #333333 !important;
	background: none !important;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#frontpage_calander_widget_area .simcal-day-has-events {
	cursor: pointer;
}
#frontpage_calander_widget_area .simcal-day-has-events>div:hover{
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
#frontpage_calander_widget_area .simcal-today div{
	max-height: 40px;
	border:	none !important;
	background: #fefefe url(images/simple-calendar/day_today_bg.png);
	background-size: 40px;
}
#frontpage_calander_widget_area .simcal-selected div{
	color: #FFFFFF !important;
	background: #015d8c url(images/simple-calendar/day_selected_bg.png) !important;
	background-size: 40px !important;
}
#frontpage_calander_widget_area .simcal-selected div:hover{
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
#frontpage_calander_widget_area .simcal-selected .simcal-day-label{
	color: #FFFFFF !important;
}
#frontpage_calander_widget_area .simcal-selected .simcal-events-dots{
	color: #FFFFFF !important;
}
#frontpage_calander_widget_area .simcal-today .simcal-day-label {
	padding-top: 13px !important;
}
#frontpage_calander_widget_area .simcal-day-number {
	padding-top: 13px;
}
#frontpage_calander_widget_area .simcal-events-dots {
	margin-top: -1px;
	color: #333333;
}
#frontpage_calander_widget_area .simcal-today .simcal-events-dots {
	margin-top: -1px;
	color: #fefefe;
}

.simcal-event-bubble{
	display: none !important;
}

.simcal-nav-button .simcal-icon-left {
	color: #fafafa;
}
.simcal-nav-button .simcal-icon-right {
	color: #fafafa;
}
.simcal-default-calendar .simcal-nav-button.simcal-prev:hover{
	margin-left: -8px !important;
}
.simcal-default-calendar .simcal-nav-button.simcal-next:hover{
	margin-left: 8px !important;
}

#frontpage_calander_widget_area table.simcal-calendar-grid {
	border-collapse: collapse;
}
#frontpage_calander_widget_area tr.simcal-week td {
	border: 1px solid #e2e2e2 !important;
}
#frontpage_calander_widget_area td.simcal-day-void {
	border: none !important;
}

/**********************************************/
/**** END Simple Calander style overrides *****/
/**********************************************/
#swipebox-overlay{
	background: rgba(0, 0, 0, 0.9) !important;
}


