/*
    ColorBox Core Style
    The following rules are the styles that are consistant between all ColorBox themes
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:visble;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0 0 0 5px; font-size: 16px;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

/*
    ColorBox example user style
    These rules are ordered and tabbed in a way that represents the order/nesting of the generated HTML,
    in hope that this will make the relationship easier to understand. Thanks, jack@colorpowered.com
*/
#cboxOverlay{background:#F1F1F1;}

#colorbox{}
    #cboxContent{background:#212121; margin-top:20px; padding: 35px 10px 0 10px;}
        #cboxBottomCenter{height:80px; padding: 0 10px 0; background:#212121;}
        #cboxLoadedContent{ padding: 0px 1px 0px 1px; }
                #cboxTitle{position:absolute; bottom:-40px; left:5px; color:#ccc;}
                #cboxAuthor{position:absolute; bottom:-20px; left:5px; color:#ccc; font-size: 0.9em; display: block; margin: 0 0 0 5px;}
                #cboxDownload{position:absolute; bottom:-75px; left:5px; color:#ccc; font-size: 1.1em; display: block; margin: 0 0 0 5px;}
                #cboxCurrent{position:absolute; bottom:-25px; right:35px; color:#ccc; visibility: hidden;}
                #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
                #cboxPrevious{ background: top left no-repeat url(images/previous.png);position:absolute; top:60%; left:-22px; margin-top:-41px; width:49%; height:50%; text-indent:-9999px;}
                #cboxPrevious.hover{background:url(images/previous.hover.png);}
                #cboxNext{background: top right no-repeat url(images/next.png); position:absolute; top:60%; right:-22px; margin-top:-41px;  width:49%; height:50%; text-indent:-9999px;}
                #cboxNext.hover{ background:url(images/next.hover.png);}
                #cboxLoadingOverlay{background:#000;}
        #cboxLoadingGraphic{background:url(images/loading.gif) center center no-repeat;}
        #cboxClose{position:absolute; top:8px; right:10px; display:block; background:url(images/close.png) top center no-repeat; width:22px; height:22px; text-indent:-9999px;}
        #cboxClose.hover{background-position:bottom center;}